<!DOCTYPE html>
<html ng-app="discussionsApp">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <script src="/javascripts/moment/moment.min.js"></script>
    <script src="/javascripts/moment/angular-moment.min.js"></script>
    <script src="/javascripts/moment/pt-br.js"></script>

    <script src="/angularjs/app-angular.js"></script>
    <script src="/angularjs/controllers/controllers.js"></script>
    <script src="/angularjs/services/discussionsService.js"></script>

  </body>
</html>